body,p,h2{
    color:deeppink;
    text-align: center;
    margin-top: auto;
    padding: 20px ;
    background-color: rgb(111, 222, 220);
    
}

header{
    background-color: rgb(230, 32, 204);
    font-size: medium;
    width: 100%;
  height: 100px;
    color: white;
    text-align: center;
    padding: 20px ;
}

h1{
    background-color: white;
    text-align: center;
    color: deeppink;
}